<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">收费名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="chargeName" value="{{ d.params.chargeName || '' }}" lay-verify="required" placeholder="请输入收费名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收费阈值</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="chargeThreshold" value="{{ d.params.chargeThreshold || '' }}" lay-verify="required" placeholder="请输入收费阈值" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">低于收费阈值单价</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="chargeLow" value="{{ d.params.chargeLow || '' }}" lay-verify="required" placeholder="请输入低于阈值时的单价" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">高于收费阈值单价</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="chargeHigh" value="{{ d.params.chargeHigh || '' }}" lay-verify="required" placeholder="请输入高于阈值时的单价" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <script type="text/html" template>
        <input type="hidden" name="chargeType" value="{{ d.params.chargeType || '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>