<div class="layui-form" lay-filter="layuiadmin-form-role" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">楼栋名称</label>
        <div class="layui-input-inline">
            <input type="text" name="deptName" lay-verify="required" placeholder="请输入楼栋名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">楼栋层数</label>
        <div class="layui-input-inline">
            <input type="text" name="deptFloor" lay-verify="required" placeholder="请输入楼栋层数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">每层房间数</label>
        <div class="layui-input-inline">
            <input type="text" name="deptNum" lay-verify="required" placeholder="请输入每层房间数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房间面积</label>
        <div class="layui-input-inline">
            <input type="text" name="deptArea" lay-verify="required" placeholder="请输入房间面积" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">建成时间</label>
        <div class="layui-input-inline">
            <input type="text" name="deptTime" lay-verify="required" placeholder="请输入建成时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-user-role-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function() {
        var $ = layui.$,
            form = layui.form;

    });
</script>